
{{!-- <div class="container p-4">
        <div class="row">
          <div class="col-md-4 mx-auto">
            <div class="card text-center">
              <div class="card-body">
                <h3>Bienvenido {{user.Correo}} {{user.Apellido}}</h3>
              </div>
            </div>
          </div>
        </div>
      </div> --}}

{{#if user}}
<link rel="stylesheet" type="text/css" href="/css/stylesProfile.css" />

  <div class="container contenedor-de-vuelta-a-inicio">
    <div class="logo-inox">
      <img src="../icons/INOX.ico" alt="Icono de INOX" />
    </div>
    <div class="nav-noticias">
      <ul class="nav__items">
        <li><a class="nav__link" href="/logout"><i
              class="bi bi-box-arrow-left"
            ></i></a></li>
        <li><a class="nav__link" href="#"><i
              class="bi bi-list-check"
            ></i></a></li>
        <li><a class="nav__link" href="#"><i
              class="bi bi-graph-up-arrow"
            ></i></a></li>
        <li><a class="nav__link" href="#"><i
              class="bi bi-symmetry-vertical"
            ></i></a></li>
      </ul>
    </div>
  </div>

  <div class="container container-total">

    <div class="row">

      <div class="col-lg-4 col-xl-4 col-xxl-4 noticias-container">
        <div class="row noticias-pertinentes">
          <div class="col-lg-8 informacion-noticia">
            <h5>Saluda los nuevos tokens</h5>
            <p>demos una cálida bienvelida a SOL, FIL, DOT, BAL, y COMP</p>
          </div>
          <div class="col-lg-4 img-contenedor-new">
            <img src="../images/newImage.png" alt="newImage" />
          </div>
        </div>

        <div class="row estadisticas-criptos">
          <div class="col-lg-4 contenedor-de-info-monedas">
            <img src="../images/logoBTC.png" alt="logoBTC" />
            <p>BTC</p>
            <small>€ 19.323</small>
          </div>
          <div class="col-lg-4 contenedor-de-info-monedas">
            <img src="../images/logoLithcoin.png" alt="logoLithcoin" />
            <p>LTC</p>
            <small>€ 10,44</small>
          </div>
          <div class="col-lg-4 contenedor-de-info-monedas">
            <img src="../images/LogoSolana.png" alt="LogoSolana" />
            <p>SOL</p>
            <small>€ 2,43</small>
          </div>
        </div>

        <div class="row lista-favoritos">
          <div class="titulo-lista-favoritos">
            <h5>Lista de favoritos</h5>
          </div>

          <div class="row contenedor-de-info-favoritos">
            <div class="col-lg-8 lado-izquierdo-info-favoritos">
              <img src="../images/logoBTC.png" alt="logoBTC" />
              <h6>Bitcoin</h6>

            </div>
            <div class="col-sm-4 lado-derecho-info-favoritos">
              <h6>€ 19.323</h6>
              <small>-1.7%</small>
            </div>
          </div>

          <div class="row contenedor-de-info-favoritos">
            <div class="col-lg-8 lado-izquierdo-info-favoritos">
              <img src="../images/LogoSolana.png" alt="logoBTC" />
              <h6>Solana</h6>

            </div>
            <div class="col-sm-4 lado-derecho-info-favoritos">
              <h6>€ 2,43</h6>
              <small>+3.5%</small>
            </div>
          </div>

          <div class="row contenedor-de-info-favoritos">
            <div class="col-lg-8 lado-izquierdo-info-favoritos">
              <img src="../images/logoLithcoin.png" alt="logoBTC" />
              <h6>Litecoin</h6>

            </div>
            <div class="col-sm-4 lado-derecho-info-favoritos">
              <h6>€ 10,44</h6>
              <small>-5.3%</small>
            </div>
          </div>

        </div>

        <div class="row historial-transaccion">
          <h5>Historial de transacciones</h5>
          <p>Aún no has realizado ninguna transacción</p>
        </div>

      </div>

      <div class="col-lg-4 col-xl-4 col-xxl-4 balance-container">
        <div class="row contenedor-balance-total">
          <h6 class="text-center">Bienvenido</h6>
          <h6 class="text-center">{{user.nombre}} {{user.apellido}}</h6>
          <h5>Balance total</h5>
          <h3>€ {{user.balance}} </h3>
          <P>Aquí habrá una gráfica del balance.</P>
        </div>

        <div class="row contenedor-de-controladores-grafica">
          <div class="col-lg-3 contenedor-de-boton-grafia">
            <button class="controlador-grafica">1D</button>
          </div>
          <div class="col-lg-3 contenedor-de-boton-grafia">
            <button class="controlador-grafica">1S</button>
          </div>
          <div class="col-lg-3 contenedor-de-boton-grafia">
            <button class="controlador-grafica">1M</button>
          </div>
          <div class="col-lg-3 contenedor-de-boton-grafia">
            <button class="controlador-grafica">1A</button>
          </div>
        </div>

        <div class="row contenedor-cuentas-activas">
          <h5>saldo</h5>
          <div class="row contenedor-de-info-favoritos">
            <div class="col-lg-8 lado-izquierdo-info-favoritos">
              <img src="../images/logoEuro.png" alt="logoEuro" />
              <h6>EURO account</h6>

            </div>
            <div class="col-sm-4 lado-derecho-info-favoritos">
              <h6>€ {{user.balance}}</h6>
              <small>$ 123,90</small>
            </div>
          </div>
        </div>

      </div>

      <div class="col-lg-4 col-xl-4 col-xxl-4 operaciones-container">
        <h5>Transacciones faciles y seguras</h5>

        <div class="container contenedor-opciones-transaccion"></div>
        <div class="form-group mt-4 text-center">
          <h6>¿Qué deseas hacer?</h6>
        </div>

        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <button class="btn btn-primary" id="openEnviar">Enviar</button>
            </div>
            <div class="col-md-4">
              <button class="btn btn-success" id="openRecibir">Recibir</button>
            </div>
            <div class="col-md-4">
              <button class="btn btn-danger" id="openSacar">Sacar</button>
            </div>
          </div>

        </div>
        <!-- form para enviar dinero-->
        <div class="container inactive" id="formEnviar">
          <form action="/enviar" method="post" class="formulario-login">
            <h5 class="mt-4">Enviar dinero.</h5>
            <div class="correo-form">
              <input type="email" placeholder="email" name="email" />
            </div>

            <div class="contrasena-form">
              <input type="number" placeholder="Monto a enviar" name="monto"/>
            </div>

            <div class="contrasena-form">

              <input type="text" placeholder="Mensaje" name="mensaje"/>
            </div>

            <div class="boton-login">
              <button class="btn-register">Enviar</button>
            </div>

          </form>
        </div>

          <!-- form  para pedir dinero-->
        <div class="container inactive" id="formPedir">
          <form action="" method="post" class="formulario-login">
            <h5 class="mt-4">Pedir dinero.</h5>
            <div class="correo-form">
              <input type="email" placeholder="¿De quien vas a recibir dinero?" />
            </div>

            <div class="contrasena-form">
              <input type="number" placeholder="Monto a recibir" />
            </div>

            <div class="contrasena-form">

              <input type="text" placeholder="Mensaje" />
            </div>

            <div class="boton-login">
              <input class="btn-register" type="button" value="Enviar" />
            </div>

          </form>
        </div>
        <div class="container inactive" id="formSacar">
          <form action="" method="post" class="formulario-login">
            <h5 class="mt-4">Sacar dinero.</h5>
            <div class="correo-form">
              <input type="email" placeholder="¿A quien vas a recibir dinero?" />
            </div>

            <div class="contrasena-form">
              <input type="number" placeholder="Monto a recibir" />
            </div>

            <div class="contrasena-form">

              <input type="text" placeholder="Mensaje" />
            </div>

            <div class="boton-login">
              <input class="btn-register" type="button" value="Enviar" />
            </div>

          </form>
        </div>


      </div>

    </div>

  </div>
    <script src="utils/gestorTransacciones.js"></script>

{{/if}}





